*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'PT Sans', sans-serif;;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    
}

h3{
    
    position: absolute;
    right: 0px;
    top: 0px;
    border: 2px solid black;
    padding: 5px 20px;
    
}
section{
    text-align: left;
    position: relative;
    margin: 0 1%;
    padding: 10px;
    width: 31.33%;
    float: left;
    background-color: darkgray;
    border: 1px solid black;
}

section p {
    padding-top: 40px;
    
}

.row{
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


.clean{
    clear: both;
}

.sec1_title{
background-color: rgb(255, 162, 162);
}

.sec2_title{
background-color: brown;
color: white;

}

.sec3_title{
background-color: rgb(228, 208, 96);

}





@media (min-width:992px) {
    
.col-lg-1 , .col-lg-2 , .col-lg-3  , .col-lg-4  ,.col-lg-5  ,.col-lg-6  ,.col-lg-7  ,.col-lg-8,.col-lg-9,.col-lg-10 , .col-lg-11  , .col-lg-12{
    float: left;
}     
    
.col-lg-1{
    width:8.33% ;
}
.col-lg-2{
    width: 16.66%;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
    width: 33%;
}
.col-lg-5{
   width:41.66%;
}
.col-lg-6{
width:50% ;
}

.col-lg-7{
    width: 58.33%;
}

.col-lg-8{
    width: 66.66%;
}

.col-lg-9{
    width: 74.99%;
}

.col-lg-10{
    width: 83.33%;
}

.col-lg-11{
    width: 91.66%;
}
.col-lg-12{
    width: 100%;
}


}

/* --- Tablet view Port ---- */
@media (min-width:768px) and (max-width:991px) {
    
.sec1 , .sec2{
    width: 48%;
    float: left;
}
.sec3{
    margin-top: 10px;
    width: 98%;
    text-align: center;
    
    clear: both;
}
}

@media (max-width:767px) {
 section{
    
    clear: both;
    width: 95%;
    margin: 10px 10px;
 }

}